<section>
  <%= render 'layouts/user_card', user: @user %>
  <div class="bg-white drop-shadow-md p-4 mb-6">
    <h3 class="mb-2">Bio</h3>
    <h4 class="text-sm">
      <%= @user.bio %>
    </h4>
  </div>
  <div>
    <% @user.recent_posts.includes(:author).each do |post| %>
      <%= render 'layouts/post_card', post: post, comment: CommentsController.new.new%>
    <% end %>
  </div>
  <div class="text-center mt-4">
    <%= link_to user_posts_path(@user) do %>
    <button type="button" class="py-2 px-4 text-sm font-medium text-white bg-stone-600 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white transition ease-in duration-100">
      See all posts
    </button>
    <% end %>
  </div>
</section>