<section class="relative">
  <%= render 'layouts/user_card', user: @user %>
  <%= render 'layouts/messages' %>

  <% @posts.each do |post| %>
    <%= render 'layouts/post_card', post: post, comment: CommentsController.new.new %>
  <% end %>
<!--  pagination frontend with pagy-->
  <%== pagy_nav(@pagy) %>
</section>



